<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post" action="/login">
        <p><input name="user" type="text" placeholder="用户"></p>
        <p><input name="pwd" type="password" placeholder="密码"></p>
        <p>
            <input name="code" type="text" placeholder="验证码">
            <img src="/check_code" onclick="ChangeCode()" id="imgCode">
        </p>
        <input type="submit" value="提交"> <span style="color: red">{{ status }}</span>
    </form>

    <script>
        function ChangeCode() {
            var code = document.getElementById('imgCode');
            code.src += '?';
        }
    </script>

</body>
</html>