.d1{
    width: 300px;
    height:100px;
    background-color: aqua;
}
.d2{
    width: 400px;
    height:150px;
    background-color: yellow;
    float: left;
    clear: both;
}
.d3{
    width: 600px;
    height: 200px;
    background-color: deeppink;
    float: left;
}
.d4{
    width: 300px;
    height:160px;
    background-color: darkgoldenrod;
    float: left;
}