.d1{
    width: 300px;
    height:100px;
    background-color: aqua;
    /*position: static;    默认值*/
    /*position: fixed;     固定值*/
    /*position: relative;  根据之前自己位置的相对移动*/
    position: absolute;
    left: 650px;
    top: 200px;
}
.d2{
    width: 400px;
    height:150px;
    background-color: yellow;
}
.d3{
    width: 600px;
    height: 1000px;
    background-color: deeppink;
}
.d4{
    width: 300px;
    height:160px;
    background-color: darkgoldenrod;
}